USE [project]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 5/18/2020 3:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[crs_id] [int] IDENTITY(1,1) NOT NULL,
	[crs_duration] [int] NOT NULL,
	[crs_name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[crs_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 5/18/2020 3:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Dept_id] [int] NOT NULL,
	[Dept_name] [varchar](30) NOT NULL,
	[Dept_manager] [int] NOT NULL,
	[Dept_description] [varchar](100) NOT NULL,
	[manager_hiredate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 5/18/2020 3:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[Ex_id] [int] NOT NULL,
	[qs_id] [int] NOT NULL,
	[qs_content] [varchar](500) NULL,
	[model_ans] [varchar](500) NULL,
	[st_ans] [varchar](500) NULL,
	[qs_grade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ex_id] ASC,
	[qs_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ins_course]    Script Date: 5/18/2020 3:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ins_course](
	[evaluation] [varchar](50) NOT NULL,
	[crs_id] [int] NOT NULL,
	[ins_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[crs_id] ASC,
	[ins_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instructor]    Script Date: 5/18/2020 3:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instructor](
	[ins_id] [int] IDENTITY(1,1) NOT NULL,
	[ins_name] [varchar](30) NOT NULL,
	[salary] [float] NOT NULL,
	[ins_degree] [varchar](30) NOT NULL,
	[Dept_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ins_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questions]    Script Date: 5/18/2020 3:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[qs_id] [int] IDENTITY(1,1) NOT NULL,
	[qs_ans] [varchar](500) NOT NULL,
	[qs_content] [varchar](500) NOT NULL,
	[qs_type] [varchar](100) NOT NULL,
	[crs_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[qs_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stud_course]    Script Date: 5/18/2020 3:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stud_course](
	[grade] [int] NOT NULL,
	[st_id] [int] NOT NULL,
	[crs_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[st_id] ASC,
	[crs_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stud_Exam]    Script Date: 5/18/2020 3:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stud_Exam](
	[Ex_id] [int] IDENTITY(1,1) NOT NULL,
	[st_id] [int] NOT NULL,
	[crs_id] [int] NOT NULL,
	[Ex_grade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ex_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/18/2020 3:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[st_id] [int] IDENTITY(1,1) NOT NULL,
	[st_fname] [varchar](30) NOT NULL,
	[st_lname] [varchar](30) NOT NULL,
	[st_age] [int] NOT NULL,
	[st_address] [varchar](100) NOT NULL,
	[st_super] [int] NOT NULL,
	[Dept_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[st_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 5/18/2020 3:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[topic_id] [int] IDENTITY(1,1) NOT NULL,
	[topic_name] [varchar](50) NOT NULL,
	[crs_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([crs_id], [crs_duration], [crs_name]) VALUES (1, 5, N'C#')
INSERT [dbo].[Course] ([crs_id], [crs_duration], [crs_name]) VALUES (2, 7, N'SQL')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
INSERT [dbo].[Department] ([Dept_id], [Dept_name], [Dept_manager], [Dept_description], [manager_hiredate]) VALUES (1, N'cse', 1, N'hello', CAST(N'2030-12-03' AS Date))
GO
INSERT [dbo].[Exam] ([Ex_id], [qs_id], [qs_content], [model_ans], [st_ans], [qs_grade]) VALUES (18, 6, N' The data type of a variable or constant must be the same for all variables and constants in that program . ', N'false', N'a', NULL)
INSERT [dbo].[Exam] ([Ex_id], [qs_id], [qs_content], [model_ans], [st_ans], [qs_grade]) VALUES (18, 23, N' Arrange the following data type in order of increasing magnitude sbyte, short, long, int. a) long < short < int < sbyte b) sbyte < short < int < long c) short < sbyte < int < long d) short < int < sbyte < long ', N'b', N'b', NULL)
INSERT [dbo].[Exam] ([Ex_id], [qs_id], [qs_content], [model_ans], [st_ans], [qs_grade]) VALUES (18, 37, N'The condition in a WHERE clause can refer to only one value.', N'false', N'c', NULL)
GO
SET IDENTITY_INSERT [dbo].[questions] ON 

INSERT [dbo].[questions] ([qs_id], [qs_ans], [qs_content], [qs_type], [crs_id]) VALUES (1, N'false', N' The C# language is not case sensitive.', N'True_False', 1)
INSERT [dbo].[questions] ([qs_id], [qs_ans], [qs_content], [qs_type], [crs_id]) VALUES (2, N'true', N' In the statement this.Close(); the keyword this refers to the current object ? ', N'True_False', 1)
INSERT [dbo].[questions] ([qs_id], [qs_ans], [qs_content], [qs_type], [crs_id]) VALUES (3, N'true', N'Comment statements begin with //. ', N'True_False', 1)
INSERT [dbo].[questions] ([qs_id], [qs_ans], [qs_content], [qs_type], [crs_id]) VALUES (52, N'c', N'You can add a row using SQL in a database with which of the following?
A.
ADD
B.
CREATE
C.
INSERT
D.
MAKE

', N'Multiple_Choice', 2)
INSERT [dbo].[questions] ([qs_id], [qs_ans], [qs_content], [qs_type], [crs_id]) VALUES (53, N'c', N'The command to remove rows from a table ''CUSTOMER'' is:
	A.
REMOVE FROM CUSTOMER ...
B.
DROP FROM CUSTOMER ...
C.
DELETE FROM CUSTOMER WHERE ...
D.
UPDATE FROM CUSTOMER ...', N'Multiple_Choice', 2)
INSERT [dbo].[questions] ([qs_id], [qs_ans], [qs_content], [qs_type], [crs_id]) VALUES (58, N'b', N'The command to eliminate a table from a database is:
	A.
REMOVE TABLE CUSTOMER;
B.
DROP TABLE CUSTOMER;
C.
DELETE TABLE CUSTOMER;
D.
UPDATE TABLE CUSTOMER;', N'Multiple_Choice', 2)
INSERT [dbo].[questions] ([qs_id], [qs_ans], [qs_content], [qs_type], [crs_id]) VALUES (61, N'a', N'Which of the following is valid SQL for an Index?
	A.
CREATE INDEX ID;
B.
CHANGE INDEX ID;
C.
ADD INDEX ID;
D.
REMOVE INDEX ID;', N'Multiple_Choice', 2)
SET IDENTITY_INSERT [dbo].[questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Stud_Exam] ON 

INSERT [dbo].[Stud_Exam] ([Ex_id], [st_id], [crs_id], [Ex_grade]) VALUES (18, 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[Stud_Exam] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([st_id], [st_fname], [st_lname], [st_age], [st_address], [st_super], [Dept_id]) VALUES (2, N'ali', N'ahmd', 10, N'we', 1, 1)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD FOREIGN KEY([Ex_id])
REFERENCES [dbo].[Stud_Exam] ([Ex_id])
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD FOREIGN KEY([qs_id])
REFERENCES [dbo].[questions] ([qs_id])
GO
ALTER TABLE [dbo].[ins_course]  WITH CHECK ADD FOREIGN KEY([crs_id])
REFERENCES [dbo].[Course] ([crs_id])
GO
ALTER TABLE [dbo].[ins_course]  WITH CHECK ADD FOREIGN KEY([crs_id])
REFERENCES [dbo].[Course] ([crs_id])
GO
ALTER TABLE [dbo].[ins_course]  WITH CHECK ADD FOREIGN KEY([ins_id])
REFERENCES [dbo].[instructor] ([ins_id])
GO
ALTER TABLE [dbo].[ins_course]  WITH CHECK ADD FOREIGN KEY([ins_id])
REFERENCES [dbo].[instructor] ([ins_id])
GO
ALTER TABLE [dbo].[instructor]  WITH CHECK ADD FOREIGN KEY([Dept_id])
REFERENCES [dbo].[Department] ([Dept_id])
GO
ALTER TABLE [dbo].[instructor]  WITH CHECK ADD FOREIGN KEY([Dept_id])
REFERENCES [dbo].[Department] ([Dept_id])
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD FOREIGN KEY([crs_id])
REFERENCES [dbo].[Course] ([crs_id])
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD FOREIGN KEY([crs_id])
REFERENCES [dbo].[Course] ([crs_id])
GO
ALTER TABLE [dbo].[stud_course]  WITH CHECK ADD FOREIGN KEY([crs_id])
REFERENCES [dbo].[Course] ([crs_id])
GO
ALTER TABLE [dbo].[stud_course]  WITH CHECK ADD FOREIGN KEY([crs_id])
REFERENCES [dbo].[Course] ([crs_id])
GO
ALTER TABLE [dbo].[stud_course]  WITH CHECK ADD FOREIGN KEY([st_id])
REFERENCES [dbo].[Student] ([st_id])
GO
ALTER TABLE [dbo].[stud_course]  WITH CHECK ADD FOREIGN KEY([st_id])
REFERENCES [dbo].[Student] ([st_id])
GO
ALTER TABLE [dbo].[Stud_Exam]  WITH CHECK ADD FOREIGN KEY([crs_id])
REFERENCES [dbo].[Course] ([crs_id])
GO
ALTER TABLE [dbo].[Stud_Exam]  WITH CHECK ADD FOREIGN KEY([st_id])
REFERENCES [dbo].[Student] ([st_id])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([Dept_id])
REFERENCES [dbo].[Department] ([Dept_id])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([Dept_id])
REFERENCES [dbo].[Department] ([Dept_id])
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD FOREIGN KEY([crs_id])
REFERENCES [dbo].[Course] ([crs_id])
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD FOREIGN KEY([crs_id])
REFERENCES [dbo].[Course] ([crs_id])
GO
/****** Object:  StoredProcedure [dbo].[ex_answer]    Script Date: 5/18/2020 3:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ex_answer] (@ex_id int,@ans_1 varchar(20),@ans_2 varchar(20),@ans_3 varchar(20),@ans_4 varchar(20),@ans_5 varchar(20),@ans_6 varchar(20),@ans_7 varchar(20),@ans_8 varchar(20),@ans_9 varchar(20),@ans_10 varchar(20))
as
declare @t table (qs_id int, ARRAYINDEX int identity(1,1)) 
insert into @t (qs_id) (select qs_id from Exam where  Ex_id=@ex_id) --with exam_id can get qs
select * from  @t 
declare @s_ans table (s_ans varchar(100), ARRAYINDEX int identity(1,1))
INSERT INTO @s_ans  (s_ans)  
   VALUES  
(@ans_1), (@ans_2), (@ans_3),(@ans_4), (@ans_5), (@ans_6),(@ans_7), (@ans_8), (@ans_9),(@ans_10)
select * from  @s_ans 
DECLARE @current_qs_id int  
DECLARE @current_st_ans varchar(100) 
declare @INDEXVAR int
SET @INDEXVAR = 0  
WHILE @INDEXVAR < 11
BEGIN  
    SELECT @INDEXVAR = @INDEXVAR + 1  
	SELECT @current_qs_id = qs_id from @t where ARRAYINDEX = @INDEXVAR
	SELECT @current_st_ans =s_ans from @s_ans where ARRAYINDEX = @INDEXVAR
  	UPDATE Exam SET
    st_ans = @current_st_ans
    FROM Exam
    WHERE Ex_id=@ex_id and qs_id= @current_qs_id 
end
return
GO
/****** Object:  StoredProcedure [dbo].[Generate_Exam]    Script Date: 5/18/2020 3:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Generate_Exam] (@st_id int ,@crs_id int ,@no_M int ,@no_TorF int)
as
insert into stud_Exam (st_id,crs_id)values(@st_id ,@crs_id)

--create temp_table
create table #generatedExam(
qs_id int,
qs_content varchar(500),
qs_ans varchar(500),
ARRAYINDEX int identity(1,1)
)
insert into  #generatedExam ( qs_id , qs_content ,qs_ans)
select top(5)  qs_id, qs_content ,qs_ans from questions 
where qs_type='True_False'
order by newid()

insert into  #generatedExam ( qs_id , qs_content ,qs_ans)
select top(5)  qs_id, qs_content ,qs_ans from questions 
where qs_type='Multiple_Choice'
order by newid()

--
declare @ex_id int =(SELECT top(1)
        Ex_id 
    FROM 
        stud_Exam
    WHERE 
        st_id=@st_id and crs_id=@crs_id
	order by Ex_id desc	)

declare @current_qs_id int 
declare @current_modelans varchar(500)
declare @current_qscontent varchar(500)
declare @index int =0
while (@index<10)
begin
select @index  =@index+1
SELECT @current_qs_id = qs_id from  #generatedExam where ARRAYINDEX = @index
SELECT @current_modelans = qs_ans from  #generatedExam where ARRAYINDEX = @index
SELECT @current_qscontent = qs_content from  #generatedExam where ARRAYINDEX = @index
insert into Exam (Ex_id,qs_id,qs_content,model_ans)
 VALUES(@ex_id,@current_qs_id, @current_qscontent,@current_modelans)
end
return
GO
